<%= simple_form_for(@chklistdatum, html: {class: "form-signin"}) do |f| %>
  <%= f.error_notification %>
<table><tr><td>
    <%= f.input :assignedto, required: true, label: false, placeholder: "AssignedTo", input_html: {class: "form-control"} %> </td>
    <td><div class="checkbox text-center">  
        <%= f.input :completed, required: false, label:false %>
    </div></td>
    <td><%= f.input :comments, required: true, label: false, placeholder: "Comments", input_html: {class: "form-control"} %> 
    </td></tr></table>
    <%= f.button :submit, class: "btn btn-primary btn-block" %>

<% end %>
