<div class="row">
<div class="col-md-4"><h3 class="text-center"><b>TO DO</b></h3>
<%= render @to_do %>
</div>
<div class="col-md-4"><h3 class="text-center"><b>DOING</b></h3>
<%= render @doing %>
</div>
<div class="col-md-4"><h3 class="text-center"><b>DONE</b></h3>
<%= render @done %>
</div>
</div>  

<br>
<%= link_to 'New Task', new_task_path %> |

<%= link_to 'Back', events_path %>

