  
    <!--<% @plcmanuals.each do |plcmanual| %>
      <h3><%= link_to "PLC Manual",  plcmanual.attachment_url(format: 'pdf') %></h3>
    <% end %> --> 

   <iframe src='New_Member_Orientation.pdf' alt="..." embed='true' width="100%" height="800" >
    <p>Your browser does not support iframes.</p> 
  </iframe> 

  <!--<iframe src="https://docs.google.com/viewer?url=https://docs.google.com/document/d/15_eN899Yyjq08HyC8ww9ou7CrmeB6l-rnHMIwEf796E/edit" embed='true' width="100%" height="800" >
    <p>Your browser does not support iframes.</p> 
  </iframe>-->


<!-- table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Attachment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plcmanuals.each do |plcmanual| %>
      <tr>
        <td><%= plcmanual.name %></td>
        <td><%= link_to "Download Manual", plcmanual.attachment_url %></td>
        <td><%= link_to 'Show', plcmanual %></td>
        <td><%= link_to 'Edit', edit_plcmanual_path(plcmanual) %></td>
        <td><%= link_to 'Destroy', plcmanual, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>-->

<br>

<% if current_user.admin  %>


   <%= link_to 'New Plcmanual', new_plcmanual_path %>

<% end %>   
