<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plcmanual.name %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= @plcmanual.attachment %>
</p>

<%= link_to 'Edit', edit_plcmanual_path(@plcmanual) %> |
<%= link_to 'Back', plcmanuals_path %>
