<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plcchecklist.name %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= @plcchecklist.attachment %>
</p>

<%= link_to 'Edit', edit_plcchecklist_path(@plcchecklist) %> |
<%= link_to 'Back', plcchecklists_path %>
