<div class="responstable">
<table class="table responstable">
  <thead>
    <tr>
      <th>Month</th>
      <th>Event1</th>
      <th>Event2</th>
    </tr>
  </thead>

  <tbody>
    <% @yearlycalendars.each do |yearlycalendar| %>
      <tr>
        <td><%= yearlycalendar.month %></td>
        <td><%= yearlycalendar.event1 %></td>
        <td><%= yearlycalendar.event2 %></td>
        <td><%= link_to 'Edit', edit_yearlycalendar_path(yearlycalendar) %></td>
        <td><%= link_to 'Delete', yearlycalendar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>  




