<!--<div class="box-table">
<table class="table table-bordered"> -->

<div class="responstable">
<table class="table responstable">
     <thead>
        <tr>
          <th>EVENT NAME</th>
          <th>EVENT DATE</th>
   <!--       <th>Uploadedby</th> -->
        </tr>
      </thead>
      <tbody>
      	<% @events.each do |event| %>
        <tr>
          <td><%= link_to event.name, event_path(event) %></td>
          <td><%= event.eventdate %></td>
       <!--   <td><%= event.uploadedby %></td> -->
          <td><%= link_to '<i class="fa fa-eye"></i>'.html_safe, event %></td>
          <% if current_user.admin %>
             <td><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_event_path(event) %></td>
             <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>   
        </tr>
        <% end %>
        </tbody>
</table> 
</div>



<!--    <% @events.each do |event| %>
       <div class="col-md-3">

  
   
  <div class="thumbnail thumbnail-size has-tooltip" title='<%= event.uploadedby %>'>

        
<li>

        <%= link_to event.name, event_path(event) %>
        <%= event.eventdate %>
        <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
         </div>

       </div>
            


            <% end %> -->
         

