<div class="row">
  <div class="col-md-6">
    <h3><%= @event.name %></h3>
    <p><%= @event.eventdate %></p>
    <p><%= @event.conductedby %></p>
    <p><%= @event.phonenos %></p>
    <p><%= @event.description %></p>
  </div>  
</div>  

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
