


<div class="responstable">
<table class="table responstable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Conductedby</th>
          <th>PhoneNos</th>
          <th>Description</th>
       </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @event.name %></td>
          <td><%= @event.conductedby %></td>
          <td><%= @event.phonenos %></td>
          <td><%= @event.description %></td>
        </tr>
        </tbody>
</table> 
</div>


<div class="col-md-4">
  <h3 class="text-center">
    Checklist
  </h3>


<table class="table table-bordered">
      <thead>
        <tr>
          <th>Action ID</th>
          <th>Action Item</th>
                  </tr>
      </thead>
      <tbody>
        <% @checklists.each do |checklist| %>
        <tr>
          <td><%= checklist.actionid %></td>
          <td><%= checklist.actionitem %></td>
        </tr>
        <% end %>
        </tbody>
  </table>



<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>




