<!--<div class="box-table">
<table class="table table-bordered"> -->

<div class="responstable">
<table class="table responstable">    
	<thead>
		<tr>
			<th>VENDOR</th>
            <th>KEY CONTACT</th>
            <th>PHONE NUMBER</th>
            <th>EVENT</th>
		</tr>	
    </thead>

    <tbody>
    	<% @vendors.each do |vendor| %>
    	<tr>
    		<td><%= link_to vendor.name, vendor_path(vendor) %></td>
            <td><%= vendor.address %></td>
            <td><%= vendor.phoneno %></td>
            <td><%= vendor.comments %></td>
            <% if current_user == @tester1@gmail.com %> 
            <td><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_vendor_path(vendor) %></td>
            <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, vendor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
        </tr>
    	<% end %>	
    </tbody>			
</table>
</div>



