<div class="responstable">
<table class="table responstable">
	<thead>
        <tr>
          <th>Vendor</th>
          <th>Key Contact</th>
          <th>Phone Number</th>
          <th>Event</th>
        </tr>
    </thead>    
    <tbody>
    	<tr>
    		<td><%= @vendor.name %></td>
            <td><%= @vendor.keycontact %></td>
            <td><%= @vendor.phoneno %></td>
            <td><%= @vendor.comments %></td>
    	</tr>	
    </tbody>	
</table>
</div>

<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>
