<p id="notice"><%= notice %></p>

<h1>Listing Plcgalleries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Dropbox uid</th>
      <th>Email</th>
      <th>Dropbox token</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plcgalleries.each do |plcgallery| %>
      <tr>
        <td><%= plcgallery.name %></td>
        <td><%= plcgallery.dropbox_uid %></td>
        <td><%= plcgallery.email %></td>
        <td><%= plcgallery.dropbox_token %></td>
        <td><%= link_to 'Show', plcgallery %></td>
        <td><%= link_to 'Edit', edit_plcgallery_path(plcgallery) %></td>
        <td><%= link_to 'Destroy', plcgallery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plcgallery', new_plcgallery_path %>
