<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plcgallery.name %>
</p>

<p>
  <strong>Dropbox uid:</strong>
  <%= @plcgallery.dropbox_uid %>
</p>

<p>
  <strong>Email:</strong>
  <%= @plcgallery.email %>
</p>

<p>
  <strong>Dropbox token:</strong>
  <%= @plcgallery.dropbox_token %>
</p>

<%= link_to 'Edit', edit_plcgallery_path(@plcgallery) %> |
<%= link_to 'Back', plcgalleries_path %>
