<%= link_to 'New Gallery', new_gallery_path %>
<%= will_paginate @galleries %>
<!-- , previous_label: h("<"), next_label: h(">")  -->


<ul class="nav navbar-nav">


    <% @galleries.each do |gallery| %>
       <div class="col-md-3">

    <li>
  
   
  <div class="thumbnail thumbnail-size has-tooltip" title='<%= gallery.title %>'>

        <%= image_tag gallery.image.url(:original), class: "img-responsive" %>
        <%= gallery.title %>
        <%= link_to 'Show', gallery %>
        <%= link_to 'Edit', edit_gallery_path(gallery) %>
        <%= link_to 'Destroy', gallery, method: :delete, data: { confirm: 'Are you sure?' } %>
         </div>

       
            

</li>
 </div>
            <% end %>
         
</ul>



        