<!DOCTYPE html> 
<html>
<head>
  <title>Parish Life Commission</title>
 
 
<meta name="viewport" content="width=device-width, initial-scale=1">


 <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

<%= csrf_meta_tags %> 

</head>
<body>
	<%= render "layouts/header" %>

<div class="container">
	    <%= yield %>
</div>



</body>
</html>
